


<nav>
    <%- nav %>
 </nav>
 
 <!-- <ul>
   <li><a href=""></a></li>
   <li><a href="./navigation.ejs"></a></li>
   <li><a href="./navigation.ejs"></a></li>
   <li><a href="./navigation.ejs"></a></li>
   <li><a href="./navigation.ejs"></a></li>
 </ul> -->