@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Body Styles */
/* Mobile-first styles */
body {
  font-family: "Open Sans", monospace, sans-serif;
  max-width: 100%; /* Changed to ensure it doesn't overflow on small devices */
  margin: 10% auto;
  padding: 0 10px; 
}

p {
  color: black;
}

.content {
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, monospace, sans-serif;
  font-weight: bolder;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.siteName {
  justify-self: start;
  font-weight: bolder;
  font-size: 1.5rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: black;
  transition: transform 0.5s, color 0.5s, opacity 0.5s;
}

.siteName a:hover, #tools a:hover {
  color: #4cc9f0;
  opacity: .7;
  transform: scale(1.5);
}

#tools {
  justify-self: end;
  font-weight: bolder;
  align-self: center;
}

nav ul, nav ul li a {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 3rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px;
  max-width: 100%;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  margin-right: 10px;
  transition: color 0.5s;
}

nav ul li a:hover {
  color: #4cc9f0;
}

#welcome {
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1.5px;
  word-spacing: 10px;
  font-size: 1.5rem;
}



#delo {
  background-image: url('../images/vehicles/delorean.jpg');
  background-size: 57vw auto;
  background-repeat: no-repeat;
  background-position: right;

}

#DMC {
  text-align: left;
  padding-left: 10px;
  background-color: rgba(0, 255, 187, 0.1);
  margin-right: 30%;
}

#DMC p {
  line-height: 1.5rem;
  font-weight: bold;
}

#own_t {
  background-color: #4CC9F0;
  width: 10em;
  font-weight: bolder;
  padding: 1em 0em;
  border-radius: 1.5em;
  cursor: pointer;
}

#DMC_reviews {
  text-align: left;
  padding-left: 4%;
  line-height: 32px;
}

.reviews h3 {
  text-align: left;
}

#delorean_upg {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* Media Query for screens with minimum width 768px */
@media screen and (min-width: 768px) {
  :root {
    background-image: url('../images/site/small_check.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  body {
    font-size: 18px;
    background-color: white;
    padding: 5%;
    border     : 8px solid #4cc9f0;

  }

  .car-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  #delo {
    background-image: url('../images/vehicles/delorean.jpg');
    background-size: 30vw auto;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    margin: 10% auto;
  }

  .the_delo {
    display: flex;
    flex-direction: row-reverse;
    margin: 10% auto;
    gap: 25px;
    justify-content: space-between;
  }

  #DMC {
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 255, 187, 0.1);
    margin-right: 60%;
  }

  #own_t {
    background-color: #4CC9F0;
    width: 10em;
    font-weight: bolder;
    padding: 1em 0em;
    border-radius: 1.5em;
    cursor: pointer;
  }

  #DMC_reviews {
    text-align: left;
    padding-left: 4%;
    line-height: 32px;
  }

  .reviews h3 {
    text-align: left;
    padding-bottom: 25px;
  }

  #delorean_upg {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .upgrades-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .upgrade {
    height: 100px;
    width: 200px;
  }

  .upgrade-name {
    bottom: -27px;
  }

  #delorean_upg h3 {
    margin-bottom: 20px;
  }
}

.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4CC9F0;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  position: relative;
  height: 125px;
}

.upgrade-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-bottom: 10px;
}

.upgrade-name {
  text-align: center;
  color: #020708;
  position: absolute;
  bottom: -27px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.namePrice {
  margin-top: 10px;
}

.vehicle-content img {
  width: 100%;
}

/* Base styles */
#inv-display {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-display li {
  width: 300px; 
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 18px;
  border-style: solid;
}

#inv-display li:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#inv-display img {
  width: 100%;
  height: 52%;
  display: block;
  border-radius: 19px;
  padding: 2px;
}

.namePrice {
  padding: 15px;
  text-align: center;
  background: white;
}

.namePrice h2, .namePrice span {
  margin: 10px 0;
  color: white;
}

.namePrice hr {
  margin: 15px 0;

}

h1 {
  text-align: center;
  margin-top: 20px;
}


/* Detail page */
.vehicle-detail {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 16px;
  background-color: black;
  border-style: solid;
  border-radius: 10px;
  border-color: #4cc9f0;
}

.vehicle-detail h1 {
  margin: 10px 0; /* Ensure the title has some margin */
}

.vehicle-detail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px;
}

.detail-text p {
  margin: 10px 0;
  color: #020708;
}

/* Styles for both login and registration forms */
.login-container, .register-container {
  background-color: #4CAF50; 
  border: 1px solid #ccc; 
  margin: 40px auto; 
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  border-radius: 8px; 
  max-width: 100%; 
  width: 400px;
}

h1 {
  color: black; 
  text-align: center; 
}

/* Styling for form groups to ensure consistency */
.form-group {
  margin-bottom: 20px; 
}

.form-group label {
  display: block; 
  margin-bottom: .5rem; 
  color: black; 
}

/* Input styling for text, email, and password fields */
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
  display: block; 
  width: 100%; 
  padding: 10px; 
  margin-top: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

/* Submit button enhancements for better interaction */
button[type="submit"] {
  width: 100%; 
  background-color: rgb(0, 123, 255);
  padding: 10px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px;

}



/* Link styling for better visibility and interaction */
a {
  color:black; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

/* Style for displaying error notices */
.notice {
  color: #d9534f; 
  border: 1px solid #ebccd1;
  background-color: #f2dede; 
  padding: 10px; 
  margin-bottom: 20px;
  border-radius: 4px; 
  text-align: center; 
}

/* Helper text styling for form input requirements */
.form-group p {
  font-size: 0.9rem; 
  color: black; 
  margin-top: 5px; 
}
.management-container {
  max-width: 100%;
  margin: 0 auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.management-container ul {
  list-style-type: none;
  padding: 0;
}

.management-container ul li {
  margin-bottom: 10px;
}

.management-container ul li a {
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.management-container ul li a:hover {
  background-color: #4CAF50;
}

/* Hamburger menu button */

/* Form Box */
.form-box {
  background:#4CAF50;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Elements */
.inv-label {
  margin-bottom: 15px;
}

.inv-label label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* makes sure padding doesn't affect the total width */
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #4CAF50;
  outline: none;
}

/* Buttons */
.form-btn {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-btn:hover {
  background-color: #4CAF50;
}

.management {
  background-color: #f2f2f2; 
  padding: 20px; 
  border-radius: 5px; 
  width: auto; 
  max-width: 200px; 
  margin: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.management a {
  display: inline-block; 
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 4px; 
  margin: 5px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.management a:hover {
  background-color: #45a049;
  transform: translateY(-2px); 
}





