<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  <%- messages() %>
  
  <% if (errors && typeof errors.array === 'function') { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>


<!-- AddClassification Form -->

<div class="form-box">
    <form action="/inv/add-classification" method="post">
        <div class="inv-label">
            <label for="classification_name">Classification Name: </label>
            <p>Name must be alphabetic characters only.</p>
            <input id="classification_name" name="add_classification" type="text" placeholder="Classification_Name" 
                required 
                value="<%= locals.add_classification %>"
                pattern="[a-zA-Z]*" > 
        </div>
        <br>
        <!-- <input type="hidden" name="status" value="pending"> -->
        <button type="submit" class="form-btn">Add Classification</button>
    </form>
</div>

